name: "clairgrid"
services:
  db:
    container_name: clairgrid-database
    image: pgvector/pgvector:pg17
    restart: unless-stopped
    ports:
      - "5432:5432"
    networks:
      - clairgrid
    configs:
      - source: db-init
        target: /docker-entrypoint-initdb.d/clairgrid-initdb.sql
    secrets:
      - db-password
    volumes:
      - db:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: clairgrid
      POSTGRES_DB: clairgrid_master
      POSTGRES_PASSWORD_FILE: /run/secrets/db-password
  dbadmin:
    container_name: clairgrid-database-admin
    image: dpage/pgadmin4:9.10.0
    restart: unless-stopped
    networks:
      - clairgrid
    volumes:
      - ./adminConfiguration/dbAdmin.servers.development.json:/pgadmin4/servers.json
    ports:
      - "5050:80"
    depends_on:
      - db
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
  rabbitmq:
    container_name: clairgrid-rabbitmq
    image: rabbitmq:4.2.1-management
    configs:
      - source: queue-configuration
        target: /etc/rabbitmq/rabbitmq.conf
    healthcheck:
      test: "rabbitmqctl node_health_check"
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - clairgrid
  grid-service-development:
    build:
      context: ./grid-service
      dockerfile: Dockerfile.development
    container_name: clairgrid-grid-service-development
    image: clairgrid-grid-service-development
    volumes:
      - .:/usr/src/clairgrid/
    environment:
      DB_HOST: db # name of the database host
      DB_PORT: 5432 # TCP port number of the database host
      DB_NAME: clairgrid_master # name of the PostgreSQL database
      DB_USER_NAME: clairgrid # login role set as owner of the database
      DB_PASSWORD_FILE: /run/secrets/db-password
      TIMEOUT_THRESHOLD_MILLISECONDS: 5000 # timeout threshold (in milliseconds) for database requests
      ROOT_USER_NAME: root # user name for the user created with administrator privileges
      ROOT_PASSWORD_FILE: /run/secrets/root-password
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: clairgrid
      RABBITMQ_PASSWORD_FILE: /run/secrets/rabbitmq-password
    secrets:
      - db-password
      - root-password
      - rabbitmq-password
    restart: unless-stopped
    networks:
      - clairgrid
    depends_on:
      - db
      - rabbitmq
  grid-service-tests:
    build:
      context: ./grid-service
      dockerfile: Dockerfile.tests
    container_name: clairgrid-grid-service-tests
    image: clairgrid-grid-service-tests
    volumes:
      - .:/usr/src/clairgrid/
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: clairgrid_test
      DB_USER_NAME: clairgrid
      DB_PASSWORD_FILE: /run/secrets/db-password
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: clairgrid
      RABBITMQ_PASSWORD_FILE: /run/secrets/rabbitmq-password
      KEEP_ALIVE_AFTER_SECONDS: 600
    secrets:
      - db-password
      - rabbitmq-password
    networks:
      - clairgrid
    depends_on:
      - db
      - rabbitmq
    command: sh -c "cd tests && ./run_all_tests.sh"
  web-ui-development:
    build:
      context: ./web-ui
      dockerfile: Dockerfile.development
    container_name: clairgrid-web-ui-development
    image: clairgrid-web-ui-development
    restart: unless-stopped
    volumes:
      - .:/usr/src/clairgrid/
    ports:
      - "5173:5173"
    environment:
      APPNAME: "clairgrid (development)"
      DATABASES: "master,test,sandbox"
      DEFAULTDB: "test"
    networks:
      - clairgrid
    depends_on:
      - rabbitmq
configs:
  db-init:
    file: ./adminConfiguration/initdb.sql
  queue-configuration:
    file: ./adminConfiguration/rabbitmq.conf
networks:
  clairgrid:
    driver: bridge
secrets:
  db-password:
    file: ./adminConfiguration/.db_password
  root-password:
    file: ./adminConfiguration/.root_password
  rabbitmq-password:
    file: ./adminConfiguration/.rabbitmq-password
volumes:
  db:
    driver: local