name: "clairgrid"
services:
  db:
    container_name: clairgrid-database
    image: pgvector/pgvector:pg17
    restart: unless-stopped
    ports:
      - "5432:5432"
    networks:
      - clairgrid
    configs:
      - source: db-init
        target: /docker-entrypoint-initdb.d/clairgrid-initdb.sql
    secrets:
      - dbPassword
    volumes:
      - db:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: clairgrid
      POSTGRES_DB: clairgrid_master
      POSTGRES_PASSWORD_FILE: /run/secrets/dbPassword
  dbadmin:
    container_name: clairgrid-database-admin
    image: dpage/pgadmin4:9.10.0
    restart: unless-stopped
    networks:
      - clairgrid
    volumes:
      - ./dbConfiguration/dbAdmin.servers.development.json:/pgadmin4/servers.json
    ports:
      - "5050:80"
    depends_on:
      - db
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
  rabbitmq:
    container_name: clairgrid-rabbitmq
    image: rabbitmq:3-management
    healthcheck:
      test: "rabbitmqctl node_health_check"
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - clairgrid
  grid-service-development:
    build:
      context: ./grid-service
      dockerfile: Dockerfile.development
    container_name: clairgrid-grid-service-development
    image: clairgrid-grid-service-development
    volumes:
      - .:/usr/src/clairgrid/
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: clairgrid_master
      DB_USER_NAME: clairgrid
      DB_PASSWORD_FILE: /run/secrets/dbPassword
    secrets:
      - dbPassword
    restart: unless-stopped
    networks:
      - clairgrid
    depends_on:
      - db
      - rabbitmq
  grid-service-tests:
    build:
      context: ./grid-service
      dockerfile: Dockerfile.tests
    container_name: clairgrid-grid-service-tests
    image: clairgrid-grid-service-tests
    volumes:
      - .:/usr/src/clairgrid/
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: clairgrid_test
      DB_USER_NAME: clairgrid
      DB_PASSWORD_FILE: /run/secrets/dbPassword
      KEEP_ALIVE_AFTER_SECONDS: 60
    secrets:
      - dbPassword
    networks:
      - clairgrid
    depends_on:
      - db
      - rabbitmq
    command: sh -c "./tests/run_all_tests.sh"
  web-ui-development:
    build:
      context: ./web-ui
      dockerfile: Dockerfile.development
    container_name: clairgrid-web-ui-development
    image: clairgrid-web-ui-development
    restart: unless-stopped
    volumes:
      - .:/usr/src/clairgrid/
    ports:
      - "5173:5173"
    environment:
      APPNAME: "clairgrid (development)"
      DATABASES: "master,test,sandbox"
      DEFAULTDB: "test"
    networks:
      - clairgrid
    depends_on:
      - rabbitmq
configs:
  db-init:
    file: ./dbConfiguration/initdb.sql
networks:
  clairgrid:
    driver: bridge
secrets:
  dbPassword:
    file: ./secrets/.dbPassword
volumes:
  db:
    driver: local