# clairgrid : data structuration, presentation and navigation.
# Copyright David Lambert 2025

# This file contains the Docker Compose configuration for the clairgrid application.

name: "clairgrid"
services:

  db:
    container_name: clairgrid-database-development
    image: pgvector/pgvector:pg17
    restart: unless-stopped
    ports:
      - "5432:5432"
    networks:
      - clairgrid
    configs:
      - source: db-init
        target: /docker-entrypoint-initdb.d/clairgrid-initdb.sql
    secrets:
      - db-password
    volumes:
      - db:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: clairgrid
      POSTGRES_DB: clairgrid_master
      POSTGRES_PASSWORD_FILE: /run/secrets/db-password
  
  dbadmin:
    container_name: clairgrid-database-admin
    image: dpage/pgadmin4:9.11.0
    restart: unless-stopped
    networks:
      - clairgrid
    volumes:
      - ./adminConfiguration/dbAdmin.servers.development.json:/pgadmin4/servers.json
    ports:
      - "5050:80"
    depends_on:
      - db
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
  
  rabbitmq:
    container_name: clairgrid-rabbitmq-development
    image: rabbitmq:4.2.1-management
    configs:
      - source: queue-configuration
        target: /etc/rabbitmq/rabbitmq.conf
    healthcheck:
      test: "rabbitmqctl node_health_check"
    ports:
      - "5672:5672"
      - "15672:15672"
    restart: unless-stopped
    networks:
      - clairgrid
  
  grid-service-development:
    build:
      context: ./grid-service
      dockerfile: Dockerfile.development
    container_name: clairgrid-grid-service-development
    image: clairgrid-grid-service-development
    volumes:
      - .:/usr/src/clairgrid/
    environment:
      DATABASES: "clairgrid_master,clairgrid_test"
      DB_HOST_clairgrid_master: db # name of the database host
      DB_PORT_clairgrid_master: 5432 # TCP port number of the database host
      DB_USER_NAME_clairgrid_master: clairgrid # login role set as owner of the database
      DB_PASSWORD_FILE_clairgrid_master: /run/secrets/db-password
      DB_HOST_clairgrid_test: db # name of the database host
      DB_PORT_clairgrid_test: 5432 # TCP port number of the database host
      DB_USER_NAME_clairgrid_test: clairgrid # login role set as owner of the database
      DB_PASSWORD_FILE_clairgrid_test: /run/secrets/db-password
      SEED_DATA_FILE: seed_data.yml
      TIMEOUT_THRESHOLD_MILLISECONDS_clairgrid_master: 5000 # timeout threshold (in milliseconds) for database requests
      TIMEOUT_THRESHOLD_MILLISECONDS_clairgrid_test: 5000 # timeout threshold (in milliseconds) for database requests
      ROOT_USER_NAME_clairgrid_master: root # user name for the user created with administrator privileges
      ROOT_PASSWORD_FILE_clairgrid_master: /run/secrets/root-password
      ROOT_USER_NAME_clairgrid_test: root # user name for the user created with administrator privileges
      ROOT_PASSWORD_FILE_clairgrid_test: /run/secrets/root-password
      JWT_SECRET_FILE_clairgrid_master: /run/secrets/jwt-secret
      JWT_SECRET_FILE_clairgrid_test: /run/secrets/jwt-secret
      JWT_EXPIRATION_clairgrid_master: 20 # expiration (in minutes) of the JWT token
      JWT_EXPIRATION_clairgrid_test: 20 # expiration (in minutes) of the JWT token
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: clairgrid
      RABBITMQ_PASSWORD_FILE: /run/secrets/rabbitmq-password
    secrets:
      - db-password
      - root-password
      - rabbitmq-password
      - jwt-secret
    restart: unless-stopped
    networks:
      - clairgrid
    depends_on:
      - db
      - rabbitmq  

  grid-service-test-automation:
    build:
      context: ./grid-service
      dockerfile: Dockerfile.tests
    container_name: clairgrid-grid-service-test-automation
    image: clairgrid-grid-service-test-automation
    volumes:
      - .:/usr/src/clairgrid/
    environment:
      DATABASES: "clairgrid_test"
      DB_USER_NAME_clairgrid_test: clairgrid # login role set as owner of the database
      TIMEOUT_THRESHOLD_MILLISECONDS_clairgrid_test: 5000 # timeout threshold (in milliseconds) for database requests
      JWT_EXPIRATION_clairgrid_test: 20 # expiration (in minutes) of the JWT token
      RABBITMQ_USER: clairgrid
      KEEP_ALIVE_AFTER_SECONDS: 6000
    secrets:
      - db-password
      - root-password
      - rabbitmq-password
      - jwt-secret
    networks:
      - clairgrid
    depends_on:
      - grid-service-development
    command: sh -c "./run_all_tests.sh"
  
  web-ui-development:
    build:
      context: ./web-ui
      dockerfile: Dockerfile.development
    container_name: clairgrid-web-ui-development
    image: clairgrid-web-ui-development
    restart: unless-stopped
    volumes:
      - .:/usr/src/clairgrid/
    ports:
      - "5173:5173"
    environment:
      APPNAME: "clairgrid (development)"
      DATABASES: "clairgrid_master,clairgrid_test"
      DEFAULTDB: "clairgrid_test"
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: clairgrid
      RABBITMQ_PASSWORD_FILE: /run/secrets/rabbitmq-password
    secrets:
      - rabbitmq-password
    networks:
      - clairgrid
    depends_on:
      - rabbitmq

  grid-service-sandbox:
    build:
      context: ./grid-service
      dockerfile: Dockerfile.production
    container_name: clairgrid-grid-service-sandbox
    image: clairgrid-grid-service-production
    environment:
      DATABASES: "clairgrid_sandbox"
      TIMEOUT_THRESHOLD_MILLISECONDS_clairgrid_sandbox: 2000 # timeout threshold (in milliseconds) for database requests
      JWT_EXPIRATION_clairgrid_sandbox: 120 # expiration (in minutes) of the JWT token
      RABBITMQ_USER: clairgrid
    secrets:
      - db-password
      - root-password
      - rabbitmq-password
      - jwt-secret
    restart: unless-stopped
    networks:
      - clairgrid
    depends_on:
      - db
      - rabbitmq

  web-ui-sandbox:
    build:
      context: ./web-ui
      dockerfile: Dockerfile.production
    container_name: clairgrid-web-ui-sandbox
    image: clairgrid-web-ui-production
    restart: unless-stopped
    ports:
      - "5174:3000"
    environment:
      APPNAME: "clairgrid (sandbox)"
      DATABASES: "clairgrid_master,clairgrid_test,clairgrid_sandbox"
      DEFAULTDB: "clairgrid_sandbox"
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: clairgrid
      RABBITMQ_PASSWORD_FILE: /run/secrets/rabbitmq-password
    secrets:
      - rabbitmq-password
    networks:
      - clairgrid
    depends_on:
      - rabbitmq

configs:
  db-init:
    file: ./adminConfiguration/initdb.sql
  queue-configuration:
    file: ./adminConfiguration/rabbitmq.conf
networks:
  clairgrid:
    driver: bridge
secrets:
  db-password:
    file: ./adminConfiguration/.db-password
  root-password:
    file: ./adminConfiguration/.root-password
  rabbitmq-password:
    file: ./adminConfiguration/.rabbitmq-password
  jwt-secret:
    file: ./adminConfiguration/.jwt-secret
volumes:
  db:
    driver: local